.clear{
  clear: both;
}
body{
  width: 940px;
  margin: auto;
  background-color: rgb(179, 208, 222);
  font-family: "DejaVu Sans";
}
header{
  padding-top: 30px;
  width: 100%;
  height: 100px;
  display: block;
}

header > a{
  font-size: 20px;
  text-decoration: none;
  color: rgb(14, 81, 96);
}

header > nav{
  width: 100%;
  height: 40px;
  background-color: rgb(50, 163, 205);
}

header > nav > ul{
  list-style: none;
}
header > nav > ul > li {
  float: left;
  padding: 10px;
}
header > nav > ul > li > a{
  display: inline-block;
  text-decoration: none;
  color : #fff;
}

header > nav > ul > li > a:hover{
  font-size: 15px;
}
main{
  margin-left: -40px;
}

main > ul{
  width: 940px;
  list-style: none;
}

main > ul > li{
  float: left;
  width: 49%;
  background-color: rgb(220, 221, 244);
  margin-left: 1%;
  margin-bottom: 10px;
}

main > ul > li:first-child{
  float: left;
  width: 49%;
  background-color: rgb(220, 221, 244);
  margin-bottom: 10px;
}

main > ul > li > h2 > a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: rgb(39, 169, 198);
}

main > ul > li > span {
  padding: 10px;
  display: inline-block;
  color: rgb(17, 89, 87);
}

footer {
  padding : 20px;
  background-color: rgb(50, 163, 205);
}

footer > a{
    color: #fff;
    text-decoration: none;
}

p{
  font-size: 15px;
  padding: 10px;
  color: cornflowerblue;
}

.page-content{
  padding: 10px;
  background-color: #fff;
}
/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }



    /**
     * Syntax highlighting styles
     */
    .highlight {
      background: #fff; }
      .highlighter-rouge .highlight {
        background: #eef; }
      .highlight .c {
        color: #998;
        font-style: italic; }
      .highlight .err {
        color: #a61717;
        background-color: #e3d2d2; }
      .highlight .k {
        font-weight: bold; }
      .highlight .o {
        font-weight: bold; }
      .highlight .cm {
        color: #998;
        font-style: italic; }
      .highlight .cp {
        color: #999;
        font-weight: bold; }
      .highlight .c1 {
        color: #998;
        font-style: italic; }
      .highlight .cs {
        color: #999;
        font-weight: bold;
        font-style: italic; }
      .highlight .gd {
        color: #000;
        background-color: #fdd; }
      .highlight .gd .x {
        color: #000;
        background-color: #faa; }
      .highlight .ge {
        font-style: italic; }
      .highlight .gr {
        color: #a00; }
      .highlight .gh {
        color: #999; }
      .highlight .gi {
        color: #000;
        background-color: #dfd; }
      .highlight .gi .x {
        color: #000;
        background-color: #afa; }
      .highlight .go {
        color: #888; }
      .highlight .gp {
        color: #555; }
      .highlight .gs {
        font-weight: bold; }
      .highlight .gu {
        color: #aaa; }
      .highlight .gt {
        color: #a00; }
      .highlight .kc {
        font-weight: bold; }
      .highlight .kd {
        font-weight: bold; }
      .highlight .kp {
        font-weight: bold; }
      .highlight .kr {
        font-weight: bold; }
      .highlight .kt {
        color: #458;
        font-weight: bold; }
      .highlight .m {
        color: #099; }
      .highlight .s {
        color: #d14; }
      .highlight .na {
        color: #008080; }
      .highlight .nb {
        color: #0086B3; }
      .highlight .nc {
        color: #458;
        font-weight: bold; }
      .highlight .no {
        color: #008080; }
      .highlight .ni {
        color: #800080; }
      .highlight .ne {
        color: #900;
        font-weight: bold; }
      .highlight .nf {
        color: #900;
        font-weight: bold; }
      .highlight .nn {
        color: #555; }
      .highlight .nt {
        color: #000080; }
      .highlight .nv {
        color: #008080; }
      .highlight .ow {
        font-weight: bold; }
      .highlight .w {
        color: #bbb; }
      .highlight .mf {
        color: #099; }
      .highlight .mh {
        color: #099; }
      .highlight .mi {
        color: #099; }
      .highlight .mo {
        color: #099; }
      .highlight .sb {
        color: #d14; }
      .highlight .sc {
        color: #d14; }
      .highlight .sd {
        color: #d14; }
      .highlight .s2 {
        color: #d14; }
      .highlight .se {
        color: #d14; }
      .highlight .sh {
        color: #d14; }
      .highlight .si {
        color: #d14; }
      .highlight .sx {
        color: #d14; }
      .highlight .sr {
        color: #009926; }
      .highlight .s1 {
        color: #d14; }
      .highlight .ss {
        color: #990073; }
      .highlight .bp {
        color: #999; }
      .highlight .vc {
        color: #008080; }
      .highlight .vg {
        color: #008080; }
      .highlight .vi {
        color: #008080; }
      .highlight .il {
        color: #099; }
